body {
  color:blue;
  background-color:lightblue;
  font-size: 18px;
}

h1 {margin-top:3.3rem;
	font-size:2rem;
}
p {
	font-size:1.5em;
}
table {
	font-size:1.5em;
}

a {	text-decoration:none;}
a:hover {	text-decoration:overline underline;}
a:active {	text-decoration:overline;}
a:visited {	text-decoration:none;}

nav {
    list-style-type: none;
	width:90vw;
	position:fixed;
	right-side:20px;
    top:0vh;
}

li {
    display: inline-block;
    width: 6em;
    background-color: green;
	margin: 0;
	padding: 10px 30px 10px 30px;
	border-radius: 0%;	/* denne vil lage avrundede hjørner*/
}

main { 
	min-width:300px;
	max-width:75vw;
	max-height70vh;
	margin:auto;
	text-align:left;
	background-color:	#00FFFF;
}

article {
	margin-top:10vh;
	background-color: #88ffff;
}